body {
    margin: 0 0 0 0;
}
.autor {
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
}
.header {
    background-color:rgb(6, 145, 87);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    border-radius: 0 0 15px 15px;
}